@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --font-family: 'Poppins', sans-serif;
  --primary-clr: rgb(109, 46, 255);
  --danger-clr: rgba(229, 2, 2, 0.77);
  --success-clr: rgb(54, 171, 54);
}

* {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}